@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item:hover:before {
  @apply bg-bluenight-500;
}

header:before {
  @apply absolute inset-0 border-b-2 border-transparent dark:border-bluenight-500;
  content: '';
  transform: translateY(-100%);
  transition: all 0.4s cubic-bezier(0.73, 0.14, 0.14, 0.78);
}

.menu-item:before {
  @apply absolute transition duration-200 ease-in bg-transparent;
  content: '';
  width: 35px;
  height: 2px;
  margin-top: 44px;
  border-radius: 25px;
}

.menu-item:hover:before {
  @apply bg-bluenight-500;
}

#header.isTop:before {
  transform: translateY(0);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.animate-slideup {
  animation: slideup 1s ease-in-out;
}

@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  padding: 7px;
  position: relative;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  cursor: pointer;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: '';
  width: 103%;
  height: 105%;
  border-radius: 10px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.83);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
